.page-header{
	margin-left: 10px;
}
.menus{
	margin-left: 10px;
}

#dadosusuario{
 	margin-top: 10px;
 	margin-left: 10px;
}

.vagas{
	text-align: center;
	font-size: 16px;
}

.dtl-vagas{
	border: 1px solid #999;
	width: 600px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-top: 15px;
	box-shadow: 3px 3px 5px #333;
}

.dtl-vagas .codigo-vaga{
	font-weight: bolder;
}

/*.dtl-vagas{
	background: #bbb;
	height: 1px;
	width: 640px;
	position: relative;
	left: 490px;
	margin-bottom: 15px;
	margin-top: -25px;*/
}

span{
	font-weight: bold;
}

.link-secundario {
	line-height: 34px;
}

h4{
	text-align: center;
}