.page-header{
	margin-left: 10px;
}
.menus{
	margin-left: 10px;
}

#dadosusuario{
	margin-top: 10px;
	margin-left: 10px;
}

.vagas{
	text-align: center;
	font-size: 16px;
	text-transform: capitalize;
}

span{
	font-weight: bold;
}